<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin</title>
</head>
<body style="background-color: black;">
    <center>
        <h1 style="color:white;">User Contact Us</h1>
        <br>
        <p style="color: white;">User Name : {{name}}</p><br>
        <p style="color: white;">Email : {{email}}</p><br>
        <p style="color: white;">Message  : {{msg}}</p><br>
        <p style="color: white;">Mobile  : {{mobile}}</p><br>
    </center>
</body>
</html>