{% extends 'base.html' %}

{% block content %}
<style>
    .error{
        color: red;
    }
</style>

<div class="container">
<h4>Dynamic Fields</h4>

<form method="POST" name="dynamic" id="dynamic" class="form form-horizontal" >
    {% csrf_token %}
    <table id="table">
        <tr id="row">
            <td><input type="text" name="name" id="name" class="form-control name" placeholder="Name" required></td>
            <td><input type="text" name="interest" id="interest" class="form-control interest" placeholder="Interests" required></td>
            
            <td><button type="button" class="btn btn-danger btn-sm remove">Delete</button></td>
        </tr>
    </table>
    <br>
    <button class="btn btn-primary btn-sm" id="add">Add</button>
    <button class="btn btn-dark btn-sm" type="submit" id="submit" class="submit">Submit</button>
    

</form>

</div>
<script>
   

    var c = 0;
    var row = $("#row");
    function GetDynamicTextBox(value){
        var r = $("#row").html();
        return r
    }
    $("#add").bind('click',function(){
        c= c+1;
        var div = $("<tr />");
        
        div.html(GetDynamicTextBox(""));
        $("#table").append(div);
        //console.log(c);
        
    });

    $("#table").on("click", ".remove", function () {

        if (c!=0){
            $(this).closest("tr").remove();
            c=c-1;
            //console.log("if"+" "+c);
        }
        else{
            //console.log("else"+" "+c);
            alert("You should enter atleast 1 Field");
        }
        
    });

    jQuery.validator.addMethod('noSpace',function(value,element){
        return value.indexOf(" ") < 0 && value != "";
    },"Space not allowed");

    $("#submit").on("click",function(){
        var form = $("#dynamic");
        if(form.length){
            form.validate({});
                $('#name').each(function() {
                    $(this).rules("add", {
                        required: true,
                        noSpace:true,
                        messages: {
                            required: "Enter Something",
                         }
                    });	
                });

                $('.interest').each(function() {
                    $(this).rules("add", {
                        required: true,
                        noSpace:true,
                        messages: {
                            required: "Enter Something",
                         }
                    });	
                });
                
            
        }
    });

    

</script>


{% endblock %}